<!-- <p>home works!</p>
<button (click)="getClick()">Click For get</button>
<app-application-intro data="{{message}}" (childData)="parentWillTakeAction($event)"></app-application-intro> -->

<app-demo-component data="{{toChild}}" (childData)="getData($event)"></app-demo-component>

<p>{{dataFromChild}}</p>

<!-- <h2>Form client</h2>
 <form [formGroup]="Form" (change)="getValue()">
<input type="text" formControlName="name" >
<input type="text" formControlName="gender">

</form> -->

<!-- <form [formGroup]="formGroup">

	<div> <input formControlName="name" /> </div>
</form> -->

